name: Deploy CloudFormation Stack

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4


      - name: Update CloudFormation stack
        shell: bash
        run: |
          STACK_NAME="s3-dev-stack"
          REGION="eu-north-1"

        aws cloudformation detect-stack-drift \
          --stack-name $STACK_NAME





